* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}

*::selection {
    color: white;
    background-color: black;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
}

#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    /* background-color: blue; */
    padding: 0 1vw;
    padding-top: 19vh;

}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: 'futura';
    line-height: 14vw;
    letter-spacing: -15px;
}

#video-container {
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 1vw;
    /* background-color: grey; */


}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: pink;
    color: black;
    font-size: 1.3vw;
    font-family: futura;
    position: fixed;
    text-transform: uppercase;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    overflow: hidden;



}

#page2 {
    min-height: 100vh;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;

}

#page2 .elem {
    height: 100%;
    width: 32.5%;
    /* background-color: yellow; */
    overflow: hidden;
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
}
#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}
 .elem .dets{
    height: 60px;
    width: 70%;
  background-color: rgb(244, 162, 200);
  
  position: absolute;
  z-index: 9;
  
  border-radius: 50px;
}
.elem .dets:hover{
height: 300px;
}

#nav{
    /* height:100px ; */
    width: 100%;
    /* background: burlywood; */
    position: fixed;
    z-index: 100;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#nav-part1{
    /* background: red; */
    height: 82px;
    overflow: hidden;
}
#nav-part1 svg{
display: block;
    
}
#nav #nav-part2
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#nav-part2 #links a{
    text-decoration: none;
    margin:0 40px;
    color: grey;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
#links{
    padding: 10px;
}
#nav-part2 #icons i{
   font-size: 18px;
   font-weight: 100;
   margin :0 45px;
}
#icons{
    padding: 10px;
}
#cursor{
    height: 150px;
    width: 150px;
    background-color: rgb(232, 183, 212);
    border-radius: 50%;
    position: fixed;

    transform: translate(-50%,-50%) scale(0);
}
#page3 {
   min-height: 120vh;
    width: 100%;
    /* background-color: #F7F7F7; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.child{
    height:55vh ;
    width: 38vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child img{

    height: 100%;
}
#page4{
    height: 100vh;
    width: 100vw;
}
@media (max-width:600px) {
    
#nav{
    /* height:100px ; */
    width: 100%;
    /* background: burlywood; */
    position: fixed;
    z-index: 100;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#nav-part1{
    /* background: red; */
    height: 62px;
    overflow: hidden;
}
#nav-part1 svg{
display: block;
height: 63px;
    width: 80px;
}
#nav #nav-part2
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#nav-part2 #links a{
    text-decoration: none;
    margin:0 40px;
    color: grey;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
#links{
    padding: 10px;
    display: none;
}
#nav #twogoodlogo{
    height:40px ;
    margin-left: -20px;
}
#nav-part2 #icons i{
   font-size: 18px;
   font-weight: 100;
   margin :0 45px;
}
#icons{
    padding: 15px;
}
    #page1 {
        width: 100%;
        min-height: 70vh;

        padding: 0 3vw;
        padding-top: 25vh;

    }


    #page1 h1 {
        font-size: 15.5vw;
        line-height: 14vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;

        margin-top: 3vw;




    }

    #video-container #play {
        padding: 7.5vw 5.2vw;
        font-size: 4.3vw;
        top: 50%;
        left: 50%;
        position: absolute;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);


    }

    #page2 {
       min-height: 100vh;
        width: 100%;
        /* background-color: blue; */
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5vw 3vw;
        justify-content: space-between;
    /* background-color: red; */
    }
    
#page2 .elem {
    height: 100vh;
    width: 100%;
    /* padding: 33px ; */
    /* background-color: yellow; */
    overflow: hidden;
    margin-bottom: 3vw;
}

#page3 {
    min-height: 120vh;
     width: 100%;
     /* background-color: #F7F7F7; */
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
 
 }
 
 .child{
     height:55vh ;
     width: 88vw;
     /* background-color: red; */
     position: relative;
     display: flex;
     padding:15px ;
     align-items: center;
     justify-content: center;
 }
 .child img{
 
     height: 100%;
 }

}